.card {
	margin-top: 1rem;
	width: 100%;
	min-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-weight: 400;
	z-index: 999;
	margin: 0 auto;
}

.leagueInfo {
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	font-family: var(--font-ibm-plex-mono), monospace;
	font-size: 0.8rem;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 0.5rem;
}

.teams {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 12px;
	font-size: 2.5rem;
	font-family: 'Akademia', sans-serif;
}

.info {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 24px;
	font-family: var(--font-ibm-plex-mono), monospace;
	font-size: 1.2rem;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.button {
	width: 100%;
	max-width: 20rem;
	height: 50px;
	background-color: #b2061c;
	color: #fff;
	border: 4px solid #b2061c;
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		background-color: #020b12;
		border-color: #990517;
	}
}

/* .button:last-child {
	background-color: #1a1a1a;
	border-color: #b2061c;

	&:hover {
		background-color: #020b12;
		border-color: #990517;
	}
} */

.fanIdStatus {
	display: inline-block;
	background: #b2061c;
	color: #fff;
	font-size: 0.95rem;
	font-family: var(--font-ibm-plex-mono), monospace;
	padding: 0.25em 0.8em;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	box-shadow: 0 2px 8px rgba(178, 6, 28, 0.08);
}
