.rulesPage {
	min-height: 100dvh;
	position: relative;
	background-color: var(--background);
	color: var(--foreground);
	padding-bottom: 100px;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('/images/fon.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.09;
	z-index: 0;
	pointer-events: none;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
	z-index: 1;
}

.title {
	font-family: 'Akademia', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: white;
	text-align: left;
	padding-top: 20px;
	margin-bottom: 40px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

	@media (max-width: 768px) {
		font-size: 1.7rem;
		padding-top: 20px;
		margin-bottom: 30px;
		line-height: 1.3;
	}

	@media (max-width: 480px) {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
}
