.fanGroupButton {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

.fanGroupLink {
	font-family: 'Akademia', sans-serif;
	padding: 1rem 2rem;
	background-color: #1a1a1a;
	color: #fff;
	border: 4px solid var(--primary-red);
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s ease;
	white-space: nowrap;
	height: fit-content;
	line-height: 1.2;

	&:hover {
		background-color: #020b12;
		border-color: var(--primary-red-hover);
	}

	@media (max-width: 768px) {
		padding: 0.8rem 1.5rem;
		font-size: 1rem;
		flex-shrink: 0;
	}
}
