@charset "UTF-8";
@font-face {
	font-family: 'Akademia';
	src: url('/fonts/Akademia.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	/* Добавление этого атрибута не имеет эффекта в CSS, но оставляю как комментарий для связи с HTML-тегом */
	/* crossorigin: 'anonymous'; */
}
:root {
	--background: #020b12;
	--foreground: #f4f2f2;

	/* CSS variables matching akron_auth _variables.scss (LoginModal) */
	--app-font: 'IBM Plex Mono', sans-serif;
	--app-font-accent: 'Akademia', sans-serif;
	--app-grey04: #ffffff80;
	--app-grey03: #b1b5be;
	--app-grey02: #dfe1e7;
	--app-grey01: #343b41;
	--app-primary: #b2061c;
	--app-primary-hover: #cf041e;
	--app-primary-pressed: #cf041e;
	--app-light: #ffffff;
	--app-dark: #020b12;
	--app-dangerous: var(--app-primary);
	--app-opacity-background: #020b1280;
	--app-line-color: var(--app-grey01);

	--app-indent-big: 40px;
	--app-indent-default: 24px;
	--app-indent-medium: 16px;
	--app-indent-small: 12px;
	--app-indent-8: 8px;

	--app-field-height: 56px;
	--app-field-height-mob: 48px;
	--app-field-border-radius: 0;
	--app-field-indent-horizontal: 16px;
	--app-field-border-size: 1px;
	--app-field-border-empty: var(--app-grey01);
	--app-field-border-focus: var(--app-light);
	--app-field-border-filled: var(--app-light);
	--app-field-border-error: var(--app-dangerous);
	--app-field-border-success: var(--app-light);
	--app-field-border-disabled: var(--app-grey01);

	--app-field-bg-empty: var(--app-dark);
	--app-field-bg-focus: var(--app-dark);
	--app-field-bg-filled: var(--app-dark);
	--app-field-bg-error: var(--app-dark);
	--app-field-bg-success: var(--app-dark);
	--app-field-bg-disabled: var(--app-dark);

	--app-field-value-font: 500 14px/1.7 var(--app-font);
	--app-field-value-font-mob: 500 12px/1.7 var(--app-font);
	--app-field-value-color-default: var(--app-light);
	--app-field-value-color-disabled: var(--app-light);
	--app-field-label-font: 400 14px/1.4 var(--app-font);
	--app-field-label-font-mob: 400 12px/1.3 var(--app-font);
	--app-field-value-padding-top: 16px;
	--app-field-value-padding-top-mob: 14px;
	--app-field-label-color-default: var(--app-light);
	--app-field-label-color-disabled: var(--app-grey01);
	--app-field-label-padding-top: -9px;
	--app-field-label-padding-top-mob: -7.5px;

	--app-field-required-color: var(--app-dangerous);
	--app-field-error-message-color: var(--app-dangerous);
	--app-field-error-message-font: 500 14px/1.4 var(--app-font);
	--app-field-error-message-font-mob: 500 12px/1.3 var(--app-font);

	--app-button-height: 56px;
	--app-button-height-mob: 48px;
	--app-button-border-radius: 0;
	--app-button-padding-horizontal: 24px;
	--app-button-bg: var(--app-primary);
	--app-button-bg-pressed: var(--app-primary-pressed);
	--app-button-bg-disabled: #646464c2;
	--app-button-bg-hover: var(--app-primary-hover);
	--app-button-font: 500 14px/1.4 var(--app-font);
	--app-button-font-mob: 500 12px/1.7 var(--app-font);
	--app-button-font-color: var(--app-light);
	--app-button-font-color-pressed: var(--app-light);
	--app-button-font-color-disabled: var(--app-grey02);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #020b12;
		--foreground: #ededed;
	}
}
html,
body {
	max-width: 100%;
	max-height: 100vh;
	max-height: 100svh;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Akademia', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-mono {
	font-family: var(--font-ibm-plex-mono), monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} /*# sourceMappingURL=globals.css.map */
