.main {
	width: 100%;
	height: 100vh;
	background-image: url('../../../public/images/stadium-background.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow-y: auto;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4); // Полупрозрачный оверлей
	}

	@media (max-width: 768px) {
		height: 100vh; // Высота для мобильных устройств
		background-position: center;
	}
}

.content {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1200px;
	padding: 2rem 20px;
	color: white;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 2rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.featuredMatch {
	max-width: 500px;
	margin: 0 auto;
	transform: scale(1.05);
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.1);
	}
}
