.games {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr); // 2 карточки для планшетов
		gap: 1.5rem;
		padding: 1.5rem;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr; // 1 карточка для мобильных
		gap: 1rem;
		/* padding: 1rem; */
		height: auto; // Убираем фиксированную высоту для мобильных
		min-height: auto; // Позволяем контенту определять высоту
	}
}

.gameCard {
	min-width: 280px; // Минимальная ширина карточки
	animation: fadeIn 0.5s ease-in-out;
	display: flex;
	justify-content: center; // Дополнительное центрирование содержимого
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
