.sliderContainer {
	margin-top: 2rem;
	margin-bottom: 3rem;
	width: 100%;
	position: relative;
}

.sliderWrapper {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}

.slider {
	display: flex;
	gap: 24px;
	padding: 0 1rem;
	width: fit-content;
	min-width: 100%;
	scroll-behavior: smooth;
	justify-content: center;
}

.card {
	flex: 0 0 auto;
	width: 340px;
	height: 415px;
	overflow: hidden;
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
	background: white;
	cursor: pointer;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 415px;
	overflow: hidden;
}

.image {
	object-fit: cover !important;
}

.cardOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.4) 50%,
		transparent 100%
	);
	padding: 1rem;
}

.cardContent {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
}

.button {
	font-family: 'Akademia', sans-serif;
	padding: 0.5rem 1rem;
	background-color: var(--primary-red);
	color: #fff;
	border: 4px solid var(--primary-red);
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s ease;
	white-space: nowrap;

	&:hover {
		background-color: #020b12;
		border-color: var(--primary-red-hover);
	}

	&:active {
		transform: translateY(0);
	}

	// Стили для Mass статуса - красный цвет
	&.mass {
		background-color: var(--primary-red);
		border-color: var(--primary-red);
		color: #fff;

		&:hover {
			background-color: #020b12;
			border-color: var(--primary-red-hover);
		}
	}

	// Стили для VIP статуса - золотой цвет
	&.vip {
		background-color: #dccaa7;
		border-color: #dccaa7;
		color: #020b12;

		&:hover {
			background-color: #020b12;
			border-color: #dccaa7;
			color: #ffffff;
		}
	}

	// Стили для Premium статуса - серебряный цвет
	&.premium {
		background-color: #c0c0c0;
		border-color: #c0c0c0;
		color: #020b12;

		&:hover {
			background-color: #020b12;
			border-color: #c0c0c0;
			color: #ffffff;
		}
	}
}

// Адаптивность для мобильных устройств и планшетов
@media (max-width: 1024px) {
	.sliderContainer {
		margin-top: 3rem;
	}

	.slider {
		gap: 1rem;
		padding: 0 0.5rem;
		flex-direction: column;
		align-items: center;
	}

	.card {
		width: 100%;
		max-width: 400px;
		height: 188.116992px;
		overflow: hidden;
	}

	.imageWrapper {
		height: 188.116992px;
	}

	.cardOverlay {
		padding: 0 1rem;
		background: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(0, 0, 0, 0.4) 50%,
			transparent 100%
		);
	}

	.cardContent {
		height: 100%;
		align-items: center;
		justify-content: flex-end;
	}

	.button {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border-width: 2px;
		min-width: 120px;
		margin-bottom: 0.5rem;
	}
}
