.timer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	z-index: 999;
	margin-top: 1rem;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	padding: 0.2rem;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
}

.datesContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: var(--font-ibm-plex-mono), monospace;
	white-space: nowrap;
	flex-wrap: nowrap;
	font-size: 0.85rem;
}

.title {
	font-size: 0.8rem;
	color: #fff;
}

.date {
	font-size: 0.75rem;
	font-weight: 600;
	transition: all 0.3s ease;

	&.passed {
		text-decoration: line-through;
		opacity: 0.7;
	}
}

.separator {
	color: #b2061c;
	font-size: 0.85rem;
}

@media (max-width: 768px) {
	.timer {
		/* padding: 0.8rem; */
	}

	.datesContainer {
		gap: 0.5rem;
		flex-wrap: wrap;
		justify-content: center;
	}

	.title {
		font-size: 0.9rem;
	}

	.date {
		font-size: 0.8rem;
	}

	.separator {
		font-size: 1rem;
	}

	.markerLabel {
		font-size: 0.6rem;
	}
}
